@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/LAYOUT_MVC.cshtml";
}
<link rel="stylesheet" href="~/css/style.css">
<h1>LIÊN HỆ ĐẶT QUẢNG CÁO</h1>
<p>TRỤ SỞ VĂN PHÒNG</p>
<p>261 - 263 Khánh Hội, P5, Q4, TP. Hồ Chí Minh </p>
<br />
<br />
<div>
    <h3>HOTLINE</h3>
    0868 332 779
</div>
<br />
<br />
<div>
    EMAIL<br />
    tuvan@LtShop.edu.cn
</div>
<br />
<br />
<h3>THEO DÕI CHÚNG TÔI</h3>
<div class="ic" style="margin-left: 400px">
    <ul class="icon">
        <li class="sub_icon"><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li class="sub_icon"><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="sub_icon"><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="sub_icon"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li class="sub_icon"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="sub_icon"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    </ul>
</div>
