@{
    ViewBag.Title = "GioHangRong";
    Layout = "~/Views/Shared/LAYOUT_MVC.cshtml";
}
<br />
<div style="margin:auto">
    <h1>Giỏ hàng rỗng</h1>
    @Html.ActionLink("Về trang chủ", "XemSanPham", "SanPham")
</div>
<br />
