@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/LAYOUT_MVC.cshtml";
}
<br />
<div style="margin: auto">
    QUÝ KHÁCH ĐÃ ĐĂNG KÝ ĐƠN HÀNG THÀNH CÔNG!
    <br />
    @Html.ActionLink("Về trang chủ", "XemSanPham", "SanPham")
</div>
<br />
